<template>
    <div>
        <form @submit.prevent='check'>
            <input type="number" v-model="number" placeholder="Enter your credit card">
            <button :disabled="!number">Verify</button>
        </form>
        <p>{{ msg }}</p>
    </div>
</template>

<style>
    .logo {
        max-width: 200px;
        height: auto;
    }
    input {
        font-size: 18px;
        padding: 0px;
        border: 0px none transparent;
        border-bottom: 1px solid #333;
        min-width: 200px;
    }

    button {
        border: 0px none transparent;
        background: #333;
        color: #fff;
        font-size: 12px;
        margin-left: 10px;
        line-height: 1;
        padding: 3px 6px;
        text-transform: uppercase;
        font-weight: bold;
    }
    button[disabled] {
        opacity: 0.5;
    }
</style>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            number: null,
            msg: 'Type in your credit card number and verify ~ evil genius bwahahahaha'
        }
    },
    methods: {
        check() {
            axios.post('http://localhost:8000/validate.php', {number: this.number})
                .then(result => {
                    if( !result.data ) {
                        this.msg = 'Unknown Card: ' + this.number + ' Invalid';
                        this.number = null;
                    } else {
                        this.msg = result.data.type + ': ' + result.data.number + ' Valid';
                        this.number = null;
                    }
                }
            );
        }
    }
}
</script>