<template>
    <div id="app">
        <logo></logo>
        <verifier></verifier>
    </div>
</template>

<script>
import Logo from './components/logo';
import Verifier from './components/verifier';

export default {
  name: 'app',
  components: {
    Logo, Verifier
  }
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
